.jumbotron {
    background-color: white;
    height: 40vmin;
    margin-top: 20vh;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    
}

h1 {
    font-size: 5vw;
    margin: 0 auto;
}

.lead {
    font-size: 1.8vw;
    margin: 0 auto;
}